$primary-color : #6c5ce7;
$primary-color-light : #a29bfe;
$page-bg-color : #FDFDFD;
$black-color : #2d3436;
$grey-color: #b2bec3;
$white-color : #ffffff;

// Font Family
$font-Montserrat : 'Montserrat', sans-serif;